# Environnements & artefacts
.venv/
.env/
__pycache__/
.ipynb_checkpoints/

# Données & sorties
# data/
# runs/
artifacts/
.gitattributes

# Checkpoints de modèles
artifacts/*.ckpt
artifacts/*.pth
artifacts/*.pt

# OS / IDE
.DS_Store
.vscode/
.idea/